<header class="mdc-toolbar mdc-theme--text-primary-on-primary-dark mdc-theme--primary-dark-bg mdc-toolbar--portal-no-shrink">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-center">
      <img src="{{ base }}assets/images/portal-logo.png" alt="Portal" class="mdc-toolbar__logo">
    </section>
  </div>
</header>
<div class="mdc-list-group mdc-drawer__content portal-drawer-group portal-hide-scrollbars portal-navigation">
  <nav class="mdc-list portal-navigation-list">
    <div class="mdc-menu-anchor">
      <a id="dashboard-submenu" href="#" class="mdc-button portal-menu-button">
        <i class="material-icons portal-menu-button__icon" aria-hidden="true">dashboard</i>
        Dashboard
      </a>
      <a id="apps-submenu" href="#" class="mdc-button portal-menu-button">
        <i class="material-icons portal-menu-button__icon" aria-hidden="true">desktop_windows</i>
        Apps
      </a>
      <a id="elements-submenu" href="#" class="mdc-button portal-menu-button">
        <i class="material-icons portal-menu-button__icon" aria-hidden="true">widgets</i>
        Elements
      </a>
    </div>
  </nav>
</div>

<footer class="mdc-toolbar mdc-theme--text-primary-on-primary-dark mdc-theme--primary-dark-bg mdc-toolbar--portal-no-shrink">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <a id="portal-sidemenu-close-icon" href="#" class="material-icons mdc-toolbar__menu-icon">
        <span class="portal-navigation-list__text portal-sidenav-collapse-icon">
          chevron_left
        </span>
      </a>
    </section>
  </div>
</footer>

