<header class="mdc-toolbar mdc-theme--primary-bg mdc-toolbar--portal-no-shrink mdc-elevation--z2  mdc-toolbar--portal-menu">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start portal-flex-wrap">
      <div id="portal-toolbar-menu-dashboard-button" class="mdc-menu-anchor mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link" aria-label="Dashboard">
        Dashboard

        <div class="mdc-menu" id="portal-toolbar-menu-dashboard">
          <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
            <a href="index.html" class="mdc-list-item" role="menuitem">Analytics</a>
            <a href="dashboard-commerce.html" class="mdc-list-item" role="menuitem">Ecommerce</a>
            <a href="dashboard-crypto.html" class="mdc-list-item" role="menuitem">Cryptocurrency</a>
            <a href="dashboard-project.html" class="mdc-list-item" role="menuitem">Project</a>
          </div>
        </div>
      </div>
      <a href="theming.html" class="mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link">Theming</a>
      <div id="portal-toolbar-menu-apps-button" class="mdc-menu-anchor mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link" aria-label="Apps">
        Apps

        <div class="mdc-menu" id="portal-toolbar-menu-apps">
          <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
            <a href="email.html" class="mdc-list-item" role="menuitem">Email</a>
            <a href="todo.html" class="mdc-list-item" role="menuitem">Todo</a>
            <a href="maps.html" class="mdc-list-item" role="menuitem">Maps</a>
            <a href="chat.html" class="mdc-list-item" role="menuitem">Chat</a>
            <a href="contacts.html" class="mdc-list-item" role="menuitem">Contacts</a>
            <a href="notes.html" class="mdc-list-item" role="menuitem">Notes</a>
            <a href="calendar.html" class="mdc-list-item" role="menuitem">Calendar</a>
          </div>
        </div>
      </div>
      <div id="portal-toolbar-menu-form-controls-button" class="mdc-menu-anchor mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link" aria-label="Form Controls">
        Form Controls

        <div class="mdc-menu" id="portal-toolbar-menu-form-controls">
          <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
            <a href="checkbox.html" class="mdc-list-item" role="menuitem">Checkbox</a>
            <a href="input.html" class="mdc-list-item" role="menuitem">Input</a>
            <a href="radio.html" class="mdc-list-item" role="menuitem">Radio</a>
            <a href="select.html" class="mdc-list-item" role="menuitem">Select</a>
            <a href="slider.html" class="mdc-list-item" role="menuitem">Slider</a>
          </div>
        </div>
      </div>
      <div id="portal-toolbar-menu-layout-button" class="mdc-menu-anchor mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link" aria-label="Layout">
        Layout

        <div class="mdc-menu" id="portal-toolbar-menu-layout">
          <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
            <a href="cards.html" class="mdc-list-item" role="menuitem">Cards</a>
            <a href="tabs.html" class="mdc-list-item" role="menuitem">Tabs</a>
          </div>
        </div>
      </div>
      <div id="portal-toolbar-menu-popups-button" class="mdc-menu-anchor mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link" aria-label="Popups and Modals">
        Popups & Modals

        <div class="mdc-menu" id="portal-toolbar-menu-popups">
          <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
            <a href="dialog.html" class="mdc-list-item" role="menuitem">Dialog</a>
            <a href="snackbar.html" class="mdc-list-item" role="menuitem">Snackbar</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
